@font-face {
    font-family: "Montserrat";
    src: url(../assets/font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

.banner {
    height: 100vh;
    width: 100%;
    background: url(../assets/images/pexels-photoscom-93398.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow: auto;
    border-top: 1px solid;
    height: 100vh;
    width: 100vw;
}

.container-cadastro {
    display: flex;
    height: (100vh - 163px);
    margin-top: 140px;
    width: 100vw;
    justify-content:center;
    align-items:center;
}

.box {
    width: 422px;
    height: 531px;
    background-color: #FFF;
    border-radius: 10px;
    flex-direction: column;
    padding: 20px 50px 20px 50px;   
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#box1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#box2 {
    display:none;
}

#box3 {
    display:none;
    padding-top: 28px;
}

#title-box {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
}

.info-boxes-cadastro input {
    width: 322px;
    height: 59px;
    border-radius: 5px;
    border: 1px solid #bbb;
    background-color: #F5F5F5;
    padding: 0 10px;
    margin: 15px;
    margin-left: 0;
}

button {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-continuar {
    background-color: #E53420;
    color: #FFF;
    font-weight:bold;
    border:none;
    border-radius:5px;
    font-size:20px;
    margin-top: 27px;
}

button:hover {
    background-color: #8f2014;
    border-radius: 5px;
}

.button-container {
    display: flex;
}

#button-voltar {
    width: 15%;
    background-color: #E53420;
    color: #FFF;
    font-weight:bold;
    border:none;
    border-radius:5px;
    font-size:20px;
    margin-top: 30px;
    margin-right: 5px;
}

#button-cadastrar {
    width: 85%;
    background-color: #E53420;
    color: #FFF;
    font-weight:bold;
    border:none;
    border-radius:5px;
    font-size:20px;
    margin-top: 30px;
    margin-left: 5px;
}

#button-continuar {
    width: 100%;
    height: 50px;
    font-size: large;
}

.checkbox_class {
    margin: 18px 0px 5px 0;
}

#termos-de-uso {
    color:rgb(43, 9, 235);;
}

.switch-options {
    width: 320px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    flex-direction: column;
    padding: 10px 0;
}

.box input {
    border: none;
    width: 0;
    height: 0;
}

#s1:checked {
    border: 2px solid #E53420;
    border-radius: 5px;
}

.switch-options img {
    width: 100px;
    height: 100px;
}

#img-usuario {
    width: 60px;
    height: 60px;
    margin-top: 15px;
}