@font-face {
    font-family: "Montserrat";
    src: url(../assets/font/Montserrat/Montserrat-VariableFont_wght.ttf);
}
 
* {
    font-family: "Montserrat", sans-serif;
}

.banner {
    min-height: 100vh;
    width: 100%;
    background: url("./");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow: auto;
    border-top: 1px solid;
}

.item {
    width: 80vw;
    margin: 25px;
}

.pergunta {
    display: block;
    padding: 10px;
    padding-left: 50px;
    background-color: rgb(245, 243, 243);
    width: 80vw;
    border-left: #e4321e;
    border-style: solid;
}

.resposta {
    display: block;
    padding: 10px;
    padding-left: 50px;
    background-color: white;
    width: 80vw;
    border-left: #0B142F;
    border-style: solid;
}