/* ----- MENU VERSÃO DESKTOP ----- */

:root {
    --color-background: #0b142f;
    --color-text: #FFF;
    --color-active: #e4321e;
    --color-hover: #e4321e;
}

header {
    width: 100%;
}

#header {
    width: 100%;
    height: 130px;
    background-color: var(--color-background);
    justify-content: space-between;
    padding: 0 7%;
    font-size: 20px;
    color: var(--color-text);
}

.header,
.navigation-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.navigation-header {
    z-index: 2;
    padding-bottom: 15px;
}

.navigation-header a {
    text-decoration: none;
    color: var(--color-text);
    transition: 300ms;
    padding: 5px 15px;
    margin: 0px 2px;
}

.navigation-header a:hover {
    background-color: var(--color-hover);
    border-radius: 5px;
    transition: none;
}

.logo-header {
    padding-bottom: 15px;
}

#logo-img {
    width: 300px;
    height: 70px;
}

.btn-container {
    display: none;
}

.btn-icon-header {
    color: var(--color-text);
    font-size: 30px;
    cursor: pointer;
    transform: rotate(270deg);
    display: inline-block;
    font-weight: bold;
    border: none;
    display: none;
}

.btn-icon-header-x {
    width: 20px;
    height: 20px;
}

.btn-icon-header-x img {
    width: 100%;
    height: 100%;
}

.active {
    background-color: var(--color-active);
    background-size: 0.5%;
    border-radius: 5px;
}



/* ----- MENU VERSÃO MOBILE ----- */

@media screen and (max-width: 1125px) {

    .btn-icon-header,
    .btn-container {
        display: block;
        justify-content: center;
        align-items: center;
        transition: 1s;
        background-color: var(--color-background);
    }

    .btn-icon-header-X {
        display: hide;
    }

    #btn-icon {
        background-color: inherit;
    }

    .header {
        align-items: center;
    }

    .logo-header {
        padding-top: 25px;
    }

    .navigation-header {
        position: absolute;
        flex-direction: column;
        align-items: center;
        top: 0;
        background-color: var(--color-background);
        height: 100%;
        width: 220px;
        padding: 47px 0px 16px 16px;
        animation-duration: 1s;
        margin-left: -100vw;
    }

    .navigation-header a {
        text-decoration: none;
        color: var(--color-text);
        transition: 300ms;
        padding: 5px 15px;
        margin: 5px 2px;
    }    

    .navigation-header a:hover {
        background-color: var(--color-hover);
        border-radius: 5px;
        transition: none;
    }

    .btn-icon-x {
        margin-bottom: 15px ;
    }

    .active {
        background-color: var(--color-active);
        background-size: 0.5%;
    }
}

@media screen and (max-width: 550px) {
    #logo-img {
        width: 197px;
        height: 52px;
    }
}

@media screen and (max-width: 430px) {
    #logo-img {
        width: 150px;
        height: 35px;
    }
}


@keyframes animationBtnburguer {
    from {
        margin-left: 0;
    }

    top {
        margin-left: -100vw;
    }
}

@keyframes animationSidebar1 {
    from {
        margin-left: -100vw
    }

    top {
        margin-left: -10vw
    }
}

@keyframes animationSidebar2 {
    from {
        margin-left: -10vw
    }

    top {
        margin-left: -100vw
    }
}



/* ----- FOOTER ----- */

.footer {
    width: 100%;
    height: 10vh;
    background-color: #0b142f;
    color: rgb(104, 104, 104);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 10000;
}

.footer-icons {
    display: flex;
    z-index: 1000;
}

.ft-icon {
    display: flex;
    flex-direction: row;
    border-radius: 100%;
    padding: 20px;
    cursor: pointer;
}

.footer-icon {
    gap: 15px;
    width: 400px;
    justify-content: center;
    align-items: center;
}

#in-icon {
    background-color: #0a66c2;
    
}

#fb-icon {
    background-color: #0866ff;
    
}

#x-icon {
    background-color: black;
    
}

#insta-icon {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.ftr_icon {
    width: 25px;
    height: 25px;
}