#header {
    background-color: #0b142f;
    color: #FFF;
    width: 100%;
    height: 130px;
    display: flex;
    align-items: flex-end;
}

.menu {
    padding-top: 85px;
}

#logo {
    width: 356px;
    height: 84px;
    display: block;

}

.menu a {
    padding: 15px;
}

.active {
    background-color: #e4321e;
    background-size: 0.5%;
    border-radius: 5px;
}

.menu-desktop {
    padding-bottom: 15px;
    display: flex;
}

.menu-desktop a {
    padding: 15px;
}

.menu-desktop a:hover {
    background-color: #e4321e;
    border-radius: 5px;
}

.icone-mobile {
    width: 40px;
}

.menu-mobile {
    display: none;
}

.menu-mobile-links {
    display: none;
}

#logo-mobile {
    display: none;
}

.footer {
    width: 100%;
    height: 10vh;
    background-color: #0b142f;
    color: rgb(104, 104, 104);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 10000;
}

.footer-icons {
    display: flex;
    z-index: 1000;
}

.ft-icon {
    display:flex;
    flex-direction: row;
    border-radius: 100%;
    padding: 20px;
    cursor: pointer;
}

.footer-icon {
    gap: 15px;
    width: 400px;
    justify-content: center;
    align-items: center;
}

#in-icon {
    background-color: #0a66c2;
    
}

#fb-icon {
    background-color: #0866ff;
    
}

#x-icon {
    background-color: black;
    
}

#insta-icon {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); 
  
}

.ftr_icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.flex {
    display: flex !important;
}

footer {
    position: relative;
}

#poplinkedin {
    flex-direction: column;
    background-color: #0b142f;
    color: white;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    z-index: 56;
    position: absolute;
    height: 0;
    display: flex;
    overflow: hidden;
    opacity: 0;
    }

#poplinkedin span {
    padding-bottom: 10px;
}

#poplinkedin.active {
    height: 480px;
    top: -1020px;
    transform:translateY(50%);
    transition: top 1s ease-in-out;
    opacity: 1;
}

.nome-linkedin {
    padding: 20px;
}

#poplinkedin div {
    display: flex;
}

#poplinkedin a {
    padding-left: 80px;
    width: 100%;
}

#poplinkedin img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    align-self: center;
    position: absolute;
    left: 5%;
}

#poplinkedin a:hover {
    background-color: #e4321e;
}

@media (max-width: 950px) {

    .menu-desktop {
        display: none;
    }

    #icone-mobile2 {
        width: 60px;
        height: 65px;
        padding-bottom: 15px;
        }

    .menu-mobile {
        display: flex;
        flex-direction: column;
        align-items:center;
        width: auto;
        height: 100%;
        padding-top: 5px;

    }
    
    .menu-mobile-links {
        display: none;
        flex-direction: column;
        background-color: #0b142f; 
        z-index: 10;
        left: 20px;
        border-radius: 5px;
        position: absolute;
        color: white;
        width:90%;
    }

    .menu-mobile-links a {
        height: 50px;
        text-align: center;
        margin-top: 5px;
        padding-top: 10px;
        width: auto;
        margin: 0;
        font-weight: 600;
    }
    
    .active {
        border-radius: 0;
    }

    .menu-mobile-links a:hover {
        background-color: #e4321e;
        transition: 0.1s;
    }
}

@media (max-width: 450px) {
    #logo {
       width: auto;
       display: flex;
    }

    #header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}