#header {
    background-color: #0b142f;
    color: #FFF;
    width: 100%;
    height: 130px;
    display: flex;
    align-items: flex-end;
}

#logo {
    width: 40%; 
}

.menu {
    padding-top: 85px;
}

.menu a {
    padding: 15px;
}

.active {
    background-color: #e4321e;
    background-size: 0.5%;
    border-radius: 5px;
}

.menu-desktop {
    padding-bottom: 15px;
    display: flex;
}

.menu-desktop a {
    padding: 15px;
}

.menu-desktop a:hover {
    background-color: #e4321e;
    border-radius: 5px;
}

.icone-mobile {
    width: 40px;
}

.menu-mobile {
    display: none;
}

#logo-mobile {
    display: none;
}

.footer {
    width: 100%;
    height: 10vh;
    background-color: #0b142f;
    color: rgb(104, 104, 104);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-icons {
    display: flex;
}

.ft-icon {
    display:flex;
    flex-direction: row;
    border-radius: 100%;
    padding: 20px;
    cursor: pointer;
}

.footer-icon {
    gap: 15px;
    width: 400px;
    justify-content: center;
    align-items: center;
}

#in-icon {
    background-color: #0a66c2;
}

#fb-icon {
    background-color: #0866ff;
}

#x-icon {
    background-color: black;
}

#insta-icon {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); 
}

.ftr_icon {
    width: 25px;
    height: 25px;
}

@media (max-width: 950px) {

    .menu-desktop {
        display: none;
    }

    #icone-mobile {
        padding-top: 10px;
    }

    #icone-mobile2 {
        width: 40px;
        }

    .menu-mobile {
        display: flex;
        flex-direction: column;
        align-items:center;
        width: auto;
        height: 100%;
        padding-top: 5px;

    }
    
    .menu-mobile-links {
        display: none;
        flex-direction: column;
        background-color: #0b142f; 
        z-index: 10;
        left: 20px;
        border-radius: 5px;
        position: absolute;
        color: white;
        width:90%;
    }

    .menu-mobile-links a {
        height: 50px;
        text-align: center;
        margin-top: 5px;
        padding-top: 10px;
        width: auto;
        margin: 0;
        font-weight: 600;
    }
    
    .active {
        border-radius: 0;
    }

    .menu-mobile-links a:hover {
        background-color: #e4321e;
        transition: 0.1s;
    }
}

@media (max-width: 450px) {
    #logo {
       width: 100%; 
    }

    #header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}