@font-face {
    font-family: "Montserrat";
    src: url(../assets/font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
    font-family: "Montserrat", sans-serif;
}


.banner {
    width: 100%;
    background: url("../assets/images/bg-home-sm.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-top: 1px solid;
    overflow: hidden;
}

.bg-filter {
    display: flex;
    flex: column;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    overflow: hidden;
}

@media (min-width: 661px) {

    .banner {
        background: url("../assets/images/bg-home-md.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        border-top: 1px solid;
    }

    #container-text {
        width: 50%;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    #text-bn {
        text-align: center;
        padding-top: 50px;
        width: 70%;     
    }

    #text-bm {
        text-align: center;
        margin-top: 200px;
        width: 70%;
        overflow: hidden;
    }

    #text-bt {
        color: white;
        background-color: #e4321e;
        width: 70%;
        border-radius: 15px;
        font-weight: 500; 
        text-align: center;
        margin-top: 30px;
        padding: 15px;
        cursor: pointer;
}
}

@media (max-width: 693px) {

    #container-text {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;   
        overflow: hidden;
    }

    #text-bn {
        text-align: center;
        margin-top: 30px;

    }

    #text-bm {
        text-align: center;
        margin-top: 380px;
        overflow: visible;
    }

    #text-bt {
        color: white;
        background-color: #e4321e;
        width: 90%;
        border-radius: 15px;
        font-weight: 500; 
        text-align: center;
        margin-top: 30px;
        padding: 20px;
        cursor: pointer;
        overflow: hidden;
        z-index: 2
    }
}