@font-face {
    font-family: "Montserrat";
    src: url(../assets/font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
    font-family: "Montserrat", sans-serif;
}

.banner {

    width: 100%;
    background: url("../assets/images/bg-home-sm.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow: auto;
    border-top: 1px solid;
}

.bg-filter {
    display: flex;
    flex: column;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
}

.texto {
    color: white;
    text-shadow: 0 0 6px #000;
    text-transform: uppercase;
    font-weight: bold;

}

@media (min-width: 950px) {
    .banner {
        background: url("../assets/images/bg-home-md.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        overflow: auto;
        border-top: 1px solid;
    }

    .mudanca-form {
        width: 100%;
    }

    .agendar-form {
        width: 60vw;
    }

    .inputs {
        padding-left: 20px;
    }

    .inputs input {
        width: 70%;
    }

    #buscar-opc {
        width: 120px;
    }

}

@media (max-width: 660px) {

    #container-text {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;   
    }

    #text-bn {
        text-align: center;
        margin-top: 30px;
    }

    #text-bm {
        text-align: center;
        margin-top: 380px;
    }

    #text-bt {
        color: white;
        background-color: #e4321e;
        width: 90%;
        border-radius: 15px;
        font-weight: 500; 
        text-align: center;
        margin-top: 30px;
        padding: 20px;
    }
}