@font-face {
    font-family: "Montserrat";
    src: url(../assets/font/Montserrat/static/Montserrat-Regular.ttf);
}

* {
    font-family: "Montserrat", sans-serif;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#lista-mudanca {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#titulo {
    font-weight: 700;
}

#dados-lista {
    border-radius: 5px;
    width: 100%;
    display: flex;
    text-align: center !important;
    flex-direction: column;
}

.card {
    word-wrap: break-word;
}

.data {
    align-self: flex-end;
    font-weight: 400 !important;
    font-size: 14px !important;
}

.dados-mudanca a {
    font-weight: 700;
    width: 100%;
}

#modelo-mudanca {
    display: none !important;
}

#dados-lista > div {
    display: flex;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 10px;
    
}

#valor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0b142f;
    color: WHITE;
    height: 100%;
    padding: 0 10px 10px 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
}

#valor > p {
    font-size: 10px;
    font-weight: 200;
    padding: 0;
    text-align: left;
    border-collapse: collapse;
    padding-top: 10px;
}

.btn-aceite {
    color: white;
    background-color:#e4321e;
    width: 70%;
    border-radius: 15px;
    font-weight: 300; 
    text-align: center;
    margin: 0 0 5px 0;
    padding: 15px;
    cursor: pointer;
}

.btn-aceite:hover {
    background-color: #e4321e;
    transition: 0.4ms;
    font-weight: 900;
}

.origem, .destino {
    display: flex;
    font-size: 15px !important;
    width: 100% !important;
    margin-bottom: 10px;
    justify-content: center;
    padding: 0 5px;
}

#origem {
    margin-top: 10px;
}
