@font-face {
    font-family: "Montserrat";
    src: url(../assets/font/Montserrat/static/Montserrat-Regular.ttf);
}

* {
    font-family: "Montserrat", sans-serif;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#lista-mudanca {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

#titulo {
    font-weight: 700;
}

#dados-lista {
    border-radius: 5px;
    width: 100%;
    display: flex;
    text-align: center !important;
    flex-direction: column;
}

.data {
    align-self: flex-end;
    font-weight: 400 !important;
    font-size: 14px !important;
}

.dados-mudanca a {
    font-weight: 700;
    width: 100%;
}

#modelo-mudanca {
    display: none !important;
}

#dados-lista>div {
    display: flex;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 10px;

}

#img-perfil {
    width: 24px;
    height: 24px;
    display: flex;
}

#valor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0b142f;
    color: WHITE;
    height: 100%;
    width: 90px;
    padding: 0 10px 10px 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
}

#valor>p {
    font-size: 10px;
    font-weight: 200;
    padding: 0;
    text-align: left;
    border-collapse: collapse;
    padding-top: 10px;
}

.btn-bot {
    color: white;
    background-color: #e4321e;
    width: 70%;
    border-radius: 15px;
    font-weight: 300;
    text-align: center;
    margin: 0 0 5px 0;
    padding: 15px;
    cursor: pointer;
}

.btn-bot:hover {
    background-color: #e4321e;
    transition: 0.4ms;
    font-weight: 900;
}

.origem,
.destino {
    display: flex;
    font-size: 15px !important;
    width: 100% !important;
    margin-bottom: 10px;
    justify-content: center;
    padding: 0 5px;
}

#origem {
    margin-top: 10px;
}

.btn-aceite {
    display: none;
}

#img-perfil {
    display: none;
}

@media (min-width: 431px) {


    #lista-mudanca {
        width: 85%;
    }

    #container-lista {
        display: flex;
        justify-content: left;
        width: 100%;
    }

    .dados-cont {
        width: 25%;
    }

    .btn-bot {
        width: 25%;
    }

    .dados-mudanca, .origem, .destino, .usuario {
        display: flex !important;
        text-align: left;
        justify-content: flex-start;
        padding: 5px 5px 5px 10px;
    }

    #origem,
    .origem,
    .destino,
    #destino, 
    .usuario,
    #titulo,
    .descricao {
        font-size: 23px !important;
    }

    .descricao {
        align-self: center;
        padding-bottom: 10px;
        
    }

    .usuario {
        padding-left: 30px;
    }

    .dados-mudanca p {
        display: flex;
        align-items: center;
        padding-bottom: 15px;
    }

    #btn-visualizar {
        display: none;
    }

    .btn-aceite {
        display: flex !important;
        justify-content: center;

    }

    #container-list {
        display: flex;
        flex-direction: column;
    }

    #container-list button {
        align-self: center;
        flex-grow: 0;
    }

    #img-perfil {
        display: flex;
        width: 24px;
        height: 24px;
        position: relative;
        top: 32px;
        left: 3px;
    }
    #valor {
        width: 70%;
    }
}