:root {
    --color-background-perfil: #010616;
    --color-background-perfil2: #e4321e;
    --color-background-perfil3: #FFF;
    --color-text-perfil: #FFF;
    --color-text-perfil2: #000;
    --color-active-perfil: #e4321e;
    --color-hover-perfil: #e4321e;
}

@font-face {
    font-family: Montserrat;
    src: url(../assets/font/Montserrat/static/Montserrat-Regular.ttf);
}

* {
    font-family: Montserrat, sans-serif;
}

.content {
    display: flex;
    height: 86vh;
    overflow: hidden;
}



/* --- BARRA LATERAL --- */

.barra-lateral {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 550px;
    height: 101%;
    background-color: var(--color-background-perfil3);
    color: var(--color-text-perfil2);
    padding: 4% 0;
}

#img-perfil {
    background-color: var(--color-background-perfil3);
    width: 200px;
    height: 200px;
}

#photo {
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #000;
    width: 100%;
    height: 100%;
    background-color: var(--color-background-perfil3);
}

#rating-conquistas-usuario {
    display: flex;
    font-weight: bold;
    padding-top: 20px;
    flex-direction: column;
    gap: 35px;
    height: 450px;
    align-items: center;
    width: 250px;
}

#conquista-txt-usuario {
    margin-bottom: 25px;
}

#icons-conquistas-usuario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
}

#icons-conquistas-usuario img {
    width: 100px;
    height: 100px;
}

.btn-logout {
    background-color: var(--color-background-perfil3);
    color: var(--color-text-perfil2);
    justify-content: center;
    align-content: center;
    font-size: large;
}

.btn-logout:hover {
    cursor: pointer;
    color: var(--color-hover-perfil);
}



/* --- MODAL DA FOTO DE PERFIL --- */

.modal {
    display: none;
}

.show {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 15%;
    bottom: 15%;
    left: 40%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: grayscale(50%);
}

#modal-photo {
    width: 40%;
    height: 50%;
    position: absolute;
}

.fechar-modal {
    height: 10%;
    width: 100%;
    text-align: end;
    font-size: 30px;
    padding-right: 5%;
}

#photo-input-label {
    cursor: pointer;
}

.photo-select-archive {
    z-index: 5;
    position: absolute;
    top: 100%;
    left: 100%;
    height: 3%;
    width: 3%;
}

.photo-select-archive img {
    width: 100%;
    height: 100%;
}

.photo-change {
    z-index: 1;
}

#photo-change {
    z-index: 1;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

#btn-photo-send {
    background-color: #e4321e;
    color: #FFF;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    font-weight: 400;
}



/* --- DADOS DO USÚARIO --- */

.container-dados {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    background-color: var(--color-background-perfil3);
    color: var(--color-text-perfil2);
    padding: 4% 2% 0 2%;
    box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.38) inset;
    -webkit-box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.38) inset;
    -moz-box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.38) inset;
}



/* --- DADOS DO CONTAINER INFORMAÇÕES --- */

.nome-usuario-perfil {
    width: 100%;
    height: 50px;
    font-size: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid #000;
}

.sections-perfil {
    display: flex;
    width: 100%;
    height: 30px;
    margin-top: 15px;
    font-size: 18px;
}

.sections-perfil span {
    padding-right: 30px;
    font-size: 17px;
}

.sections-perfil span:hover {
    cursor: pointer;
    color: var(--color-hover-perfil);
}

.active-perfil {
    color: var(--color-active-perfil);
    background-color: var(--color-background-perfil3);
}

#sections-perfil-informacoes span::after,
#sections-perfil-historico span::after,
#sections-perfil-veiculos span::after,
#sections-perfil-configuracoes span::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 1;
    left: 1;
    height: 5px;
    border-top: 2px solid #FFF;
    background-color: var(--color-hover-perfil);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;
}

#sections-perfil-informacoes span::after {
    width: 106px;
}

#sections-perfil-historico span::after {
    width: 75px;
}

#sections-perfil-veiculos span::after {
    width: 70px;
}

#sections-perfil-configuracoes span::after {
    width: 122px;
}

#sections-perfil-informacoes span:hover::after,
#sections-perfil-historico span:hover::after,
#sections-perfil-veiculos span:hover::after,
#sections-perfil-configuracoes span:hover::after,
#sections-perfil-informacoes span.active::after,
#sections-perfil-historico span.active::after,
#sections-perfil-veiculos span.active::after,
#sections-perfil-configuracoes span.active::after {
    transform: scaleX(1);
}

#sections-perfil-informacoes span.active::after,
#sections-perfil-historico span.active::after,
#sections-perfil-veiculos span.active::after,
#sections-perfil-configuracoes span.active::after {
    height: 0;
}

.container-informacoes {
    display: block;
    padding-top: 50px;
    width: 100%;
    height: 100%;
}

.container-informacoes p {
    padding-bottom: 20px;
}

.info-perfil {
    display: flex;
    text-align: left;
}

.info-perfil p {
    font-weight: bold;
    padding-right: 8px;
}

.photo-veiculo-perfil {
    width: 100%;
    height: 130px;
    display: flex;
    padding-bottom: 20px;
}

.photo-veiculo-perfil img {
    width: 100%;
    height: 100%;
    padding-right: 20px;
}

.todas-conquistas-perfil {
    width: auto;
    height: auto;
    display: flex;
    margin-bottom: 40px;
}

.todas-conquistas-perfil img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}



/* --- DADOS DO CONTAINER HISTÓRICO --- */

.item {
    width: 100%;
    margin: 25px 0 25px 0;
    border-left: #e4321e;
    background-color: rgb(245, 243, 243);
    border-style: solid;
    padding: 5px 0;
}

.info-dados-perfil {
    display: flex;
    width: 100%;
    height: auto;
}

.info-dados-perfil p {
    display: flex;
    width: auto;
    height: auto;
    font-weight: bold;
    padding: 0 5px 0 15px;
}

.modelo,
.placa,
.data,
.origem,
.destino,
.valor {
    display: block;
    width: 100%;
}