@font-face {
    font-family: "Montserrat";
    src: url(../assets/font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
    font-family: "Montserrat", sans-serif;
}

.banner {
    height: 100vh;
    width: 100%;
}



/* --- BANNER --- */

.banner-inicial {
    width: 100vw;
    height: 48vh;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-image {
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/bg-home-md.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    filter: grayscale(60%) blur(2px);
}

.texto-inicial {
    width: 50vw;
    height: 15vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 4vw;
}



/* --- SOBRE NÓS --- */

.sobre-nos {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-nos-1 {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-nos-2 {
    display: none;
}

.texto-nos {
    width: 50%;
    height: auto;
    padding: 6%;
    text-align: justify;
}



/* --- NOSSA HISTÓRIA --- */

.nossa-historia {
    width: 100vw;
    height: auto;
    text-align: justify;
    padding: 6%;
}

#moveasy-team-image {
    width: 50%;
    height: 60%;
    filter: grayscale(10%);
}



/* --- INTEGRANTES --- */



/* --- VERSÃO MOBILE --- */

@media (max-width: 1125px) {



    /* --- BANNER --- */

    .texto-inicial {
        font-weight: bold;
    }



    /* --- SOBRE NÓS --- */

    .sobre-nos {
        width: 100vw;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .img-nos-1 {
        display: none;
    }

    .img-nos-2 {
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        filter: grayscale(20%);
    }

    .texto-nos {
        width: 100%;
        height: auto;
        padding: 6%;
        text-align: justify;
    }



    /* --- NOSSA HISTÓRIA --- */



    /* --- INTEGRANTES --- */

}