@font-face {
    font-family: "Montserrat";
    src: url(../assets/font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
    font-family: "Montserrat", sans-serif;
}

.banner {
    height: 100%;
    width: 100%;
}



/* --- BANNER --- */

.banner-inicial {
    width: 100%;
    height: 48vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-image {
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/bg-home-md.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    filter: grayscale(60%) blur(2px);
}

.texto-inicial {
    width: 50%;
    height: 15vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 4vw;
}



/* --- SOBRE INICIAL --- */

.sobre-inicial {
    width: 100%;
    height: auto;
    padding: 6% 6% 0 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
}

.cards-sobre {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 5%;
    gap: 5%;
}

.box-sobre {
    width: 250px;
    height: 250px;
    border: 2px solid #e4321e;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2%;
    gap: 15px;
    text-align: center;
    perspective: 1000px;
}

.card-front span {
    font-size: 45px;
}

.card-mobile-sobre {
    width: auto;
    height: auto;
}

.card {
    width: 235px;
    height: 300px;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.card-front {
    background-color: #e4321e;
    border: 2px solid #e4321e;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 5%;
    justify-content: space-between;
    font-size: large;
    transform: rotateY(0deg);
    padding: 35% 0;
}

.card-back {
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    text-align: center;
    border: 2px solid #e4321e;
    border-radius: 10px;
    justify-content: center;
    font-size: large;
    transform: rotateY(180deg);
    padding: 5%;
}

.titulos-sobre {
    font-size: 5vh;
}



/* --- NOSSOS VALORES --- */

.img-valores {
    width: auto;
    height: 70%;
    margin-bottom: -30px;
}

.img-valores img {
    width: 100vw;
    height: auto;
    filter: grayscale(20%);
    margin: 0;
    box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.7);
}

.nossos-valores {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0b142f;
    color: #FFF;
    text-align: justify;
    padding: 6%;
}

.visao-missao-valores {
    display: flex;
}

#titulo-todos-valores {
    padding: 3% 0 2%;
    text-align: center;
    color: #e4321e;
    font-weight: bold;
}

.visao-valores {
    width: 50%;
    height: auto;
    padding: 2%;
}

.missao-valores {
    width: 50%;
    height: auto;
    padding: 2%;
}

.todos-valores {
    width: 100%;
    height: auto;
}

.todos-valores-0 {
    display: flex;
}

.todos-valores-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    padding: 2%;
}

.todos-valores-2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    padding: 2%;
}



/* --- NOSSO OBJETIVO --- */

.nosso-objetivo {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-objetivo-1 {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-objetivo {
    width: 50%;
    height: auto;
    padding: 6%;
    text-align: justify;
}



/* --- NOSSA HISTÓRIA --- */

#hr-section {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 5%;
    margin-right: 5%;
    border-style: inset;
    border-width: 1px;
}

.nossa-historia {
    width: 100%;
    height: auto;
    display: flex;
    text-align: justify;
}

.img-historia-1 {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(20%);
    flex-direction: column;
}

.img-historia-2 {
    display: none;
}

#moveasy-team-image {
    width: 100%;
    height: auto;
}

.texto-objetivo {
    width: 50%;
    height: auto;
    padding: 6%;
    text-align: justify;
}



/* --- INTEGRANTES --- */

.nossos-integrantes {
    width: 100%;
    height: auto;
    padding: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0b142f;
    color: #FFF;
}

.boxes-integrantes {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.box-integrantes {
    width: 250px;
    height: 354px;
    background: #e4321e;
    border-radius: 10px;
    box-shadow: 1px 5px 60px 0px #100a886b;
    margin: 0 2%;
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border: 2px solid #FFF;
}

.img-integrantes {
    width: 120px;
    height: 120px;
}

.img-integrantes img {
    border-radius: 50%;
    border: 2px solid #FFF;
}

.informations-integrantes {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 10px;
}

.box-integrantes span {
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: large;
}

.box-integrantes .job {
    font-weight: 400;
    color: #ffffff;
    display: block;
    text-align: center;
    padding-top: 3px;
    font-size: 12px;
}

.box-integrantes a {
    display: block;
    border: none;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

.box-integrantes button:hover {
    background: #e4321e65;
}



/* --- VERSÃO MOBILE --- */

@media (max-width: 1125px) {

    /* --- BANNER --- */

    .banner-inicial {
        width: 100%;
        height: 48vh;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -25px;
    }

    .texto-inicial {
        width: 100%;
        height: auto;
        font-weight: 500;
        font-size: 25px;
    }



    /* --- SOBRE INICIAL --- */

    .sobre-inicial {
        width: 100%;
        height: auto;
        padding: 6%;
        display: flex;
        flex-direction: column;
    }
    
    .cards-sobre {
        display: none;
    }



    /* --- NOSSOS VALORES --- */

    .visao-missao-valores {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #titulo-todos-valores {
        padding: 3% 0 2% 2%;
        color: #e4321e;
        font-weight: bold;
        text-align: start;
    }

    .visao-valores {
        width: 100%;
        height: auto;
        padding: 2%;
    }

    .missao-valores {
        width: 100%;
        height: auto;
        padding: 2%;
    }

    .todos-valores {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .todos-valores-0 {
        display: block;
    }

    .todos-valores-1 {
        width: 100%;
        height: auto;
        padding: 2%;
        padding-bottom: 0;
    }

    .todos-valores-2 {
        width: 100%;
        height: auto;
        padding: 2%;
        padding-top: 0;
    }



    /* --- NOSSOS OBJETIVOS --- */

    .nosso-objetivo {
        display: block;
        align-items: center;
        justify-content: center;
    }

    .img-objetivo-1 {
        display: none;
    }

    .texto-objetivo {
        width: 100%;
        height: auto;
        padding: 6%;
        text-align: justify;
    }



    /* --- NOSSA HISTÓRIA --- */

    .nossa-historia {
        display: block;
    }

    .img-historia-1 {
        display: none;
    }

    .img-historia-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        filter: grayscale(20%);
    }

    #moveasy-team-image {
        border-radius: 2%;
    }



    /* --- INTEGRANTES --- */

    .nossos-integrantes {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;
    }

    .boxes-integrantes {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
    }

    .box-integrantes {
        width: 280px;
        height: 150px;
        background: #e4321e;
        border-radius: 10px;
        box-shadow: 1px 5px 60px 0px #100a886b;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        border: 2px solid #FFF;
        padding: 0;
        margin: 2%;
    }

    .img-integrantes {
        width: 90px;
        height: 90px;
        position: relative;
        left: 10px;
    }

    .img-integrantes img {
        border-radius: 50%;
        border: 2px solid #FFF;
    }

    .informations-integrantes {
        width: 80%;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .box-integrantes span {
        font-weight: 600;
        color: #ffffff;
        text-align: center;
        display: block;
        font-size: large;
    }

    .box-integrantes .job {
        font-weight: 400;
        color: #ffffff;
        display: block;
        text-align: center;
        font-size: 12px;
    }

    .box-integrantes a {
        display: block;
        border: none;
        text-decoration: none;
        color: #ffffff;
        font-weight: 600;
    }

    .box-integrantes button:hover {
        background: #e4321e65;
    }
}