@font-face {
    font-family: "Montserrat";
    src: url(../assets/font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

.banner {
    background: url(../assets/images/formulario2.jpg);
    width: 100vw;
    height: 100vh; 
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-solicitacao {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 65px;
}

form {
    width: 1580px;
    max-width: 500px; 
    height: auto; 
    background-color: #F5F5F5;
    border: 1px solid #bbb;
    border-radius: 10px;
    flex-direction: column;
    padding: 20px 50px; 
    display: flex;
}

#form-continuar-solicitacao {
    margin: 20px; 
}

.info-formes-solicitacao label,
#title-form {
    color: #0f0000;
}

#title-form {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
}

.info-formes-solicitacao input {
    width: 100%; 
    height: 50px;
    border-radius: 5px;
    border: 1px solid #bbb;
    background-color: #f5f5f5;
    padding: 0 10px;
    margin: 10px 0; 
}

button {
    width: 100%;
    height: 50px;
    margin-top: 20px; 
    align-items: center;
    justify-content: center;
}

#button-continuar,
#button-voltar,
#button-enviar {
    background-color: #e4321e;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer; 
}

.button-container {
    display: flex;
}

#button-voltar {
    width: 30%; 
    margin-right: 5px;
}

#button-enviar {
    width: 70%; 
    margin-left: 5px;
}

button:hover {
    background-color: #e4321e;
    border-radius: 5px;
}