* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Montserrat";
    src: url(../assets/font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

.banner {
    height: 100vh;
    width: 100%;
    background: url(../assets/images/fundo\ agendart.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow: auto;
    border-top: 1px solid;
    height: 100vh;
    width: 100vw;
}

.container-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 125px;
}



/* --- BOXES --- */

.box {
    display: flex;
    width: 422px;
    height: 531px;
    background-color: #FFF;
    border-radius: 10px;
    padding: 20px 50px 20px 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#box1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#box1 input {
    border: none;
    width: 0;
    height: 0;
}

#box2 {
    display: none;
}

#box3 {
    display: none;
}

#box4 {
    display: none;
    align-items: center;
    flex-direction: column;
}



/* --- TITLE --- */

.title {
    padding: 0px;
    margin: 0px;
}

.title-switch p {
    font-weight: bold;
}

.title-box {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}

#subtitle-box {
    text-align: center;
    font-size: 15px;
    padding-bottom: 10px;
}

/* --- SWITCH --- */

.switch-options {
    width: 320px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    flex-direction: column;
    margin-bottom: 50px;
}

.switch-options input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 0px;
    width: 0px;
    border: 0;
}

.switch-options label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    border: 1px solid #bbb;
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    width: 320px;
    height: 45px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-in-out;
}

.switch-options label:hover {
    cursor: pointer;
}

.switch-options input:checked+label {
    background-color: #E53420;
    color: #FFF;
    box-shadow: none;
}

.switch-options p {
    margin-bottom: 15px;
}

.switch-options img {
    width: 100px;
    height: 100px;
}

.image-switch img {
    width: 100px;
    height: 100px;
}

.image-switch:hover {
    cursor: pointer;
}

#img-usuario {
    width: 60px;
    height: 60px;
    margin-top: 15px;
}

.ativo {
    border: 2px solid #E53420;
    border-radius: 5px;
}

/* --- INFO-BOXES --- */

.info-boxes {
    margin-top: 30px;
    margin-bottom: 34px;
}

#info-boxes-box3 {
    margin-top: 10px;
}

.info-boxes input {
    width: 322px;
    height: 59px;
    border-radius: 5px;
    border: 1px solid #bbb;
    background-color: #F5F5F5;
    padding: 0 10px;
    margin: 15px;
    margin-left: 0;
}

.info-boxes input[type="password"] {
    padding-right: 40px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.password-container {
    position: relative;
}

.password-container img {
    width: 20px;
    cursor: pointer;
    top: 60px;
    left: 290px;
    position: absolute;
    user-select: none;
    opacity: 0.5;
}



/* --- BUTTON-BOXES --- */

.button-box {
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4321e;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: large;
  cursor: pointer;
}

button:hover {
  background-color: #e4321e;
  border-radius: 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}

#button-voltar1 {
    width: 15%;
    background-color: #e4321e;
    color: #FFF;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-right: 5px;
}

#button-voltar2 {
    width: 15%;
    background-color: #e4321e;
    color: #FFF;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-right: 5px;
}

#button-continuar1 {
    width: 100%;
    height: 50px;
    font-size: large;
}

#button-continuar2 {
    width: 85%;
    height: 50px;
    font-size: large;
}

#button-cadastrar {
    width: 85%;
    height: 50px;
    font-size: large;
}

#button-cadastrar1 {
    width: 100%;
    height: 50px;
    font-size: large;
}

/* --- CHECKBOX E TERMOS DE USO --- */

.checkbox_class {
    margin: 18px 0px 5px 0;
}

#termos-de-uso {
    color: rgb(43, 9, 235);
}



/* --- CADASTRO MOBILE --- */

@media (max-width: 550px) {

    .banner {
        background: #FFF;
        width: 100vw;
        height: 100dvh;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-cadastro {
        padding-top: 15px;
    }

    .box {
        display: flex;
        background-color: #FFF;
        box-shadow: none;
    }
}



/* --- LOADING DA BOX 4 --- */

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

.load {
    width: 100px;
    height: 100px;
    margin: 120px auto 120px;
    border: solid 10px #e4321e;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1.0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    transition: all 0.5s ease-in;
    animation-name: rotate;
    animation-duration: 1.0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}