@font-face {
    font-family: "Montserrat";
    src: url(../assets/font/Montserrat/Montserrat-VariableFont_wght.ttf);
}
 
* {
    font-family: "Montserrat", sans-serif;
}

.banner {
    background: url(../assets/images/Imagem-login.jpeg);
    width: 100vw;
    height: 100dvh;
    background-size: cover;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.controlador-login {
    height: 200px;
    padding: 20px;
}

.menu-login {
    width: 422px;
    height: 422px;
    background-color: #FFF;
    border-radius: 10px;
}

.controlador-login input {
    width: 360px;
    height: 50px;
    padding: 25px;
    background-color: #F5F5F5;
    border: 1px solid #bbb;
}

.menu-list {
    position: relative; 
}

.input-senha {
    display:flex;    
}
 #btn-logar {
    display: flex;
    width: 322px;
    height: 50px;
    border-radius: 5px;
    justify-content: center;
    margin: 0 auto 0 auto;
    padding-top: 10px;
    background-color: #e4321e;
    color: #FFF;
}

#btn-cadastrar {
   display: flex;
   width: 322px;
   height: 50px;
   border-radius: 5px;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
   padding-top: 10px;
   background-color: #e4321e;
   color: #FFF;

}



.texto-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.campos {
    width: 100%;
    align-items:center;
    justify-content: center;
}

.campos span, checkbox {
    padding-right: 75px;
}

.corpo {
    margin-top: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logar-senha {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.logar-email {
    display: flex;
    flex-direction: column;
    color: black;
}

@media only screen and (max-width: 768px) {
  .banner {
    background: none;
    background-size: 150%;
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: 35%;   
  }
  .menu-login {
    width: 380px;
    height: 425px;
    margin-left: 10px;
    margin-right: 10px;
  
}

.logar-senha {
    width: 250px;
    height: 75px;
}

.logar-email{
  
.logar-email input {
    height: 20px;   
    width: 200px;
}
.logar-senha input {
    height: 20px;
    width: 200px;
}


.controlador-login {
    width: 235px;
    height: 155px;
    margin-bottom: 10px;
    display: flex;  
    flex-direction: column;
}

.controlador-login label{
    font-size: medium;
}

.controlador-login input {
    width: 150px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #bbb;
    background-color: #F5F5F5;
    margin: 15px;
    margin-left: 0  
}

.campos {
    width: 100%;
    align-items:center;
    justify-content: center;
}

.campos span {
    font-size: large;
    margin-top: 0px;
}

.input-login {
    margin: 0px;
}

#btn-logar {
    display: flex;
    width: 125px;
    height: 45px;
    border-radius: 10px;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 10px;
    background-color: #e4321e;
    border: 1px solid black;
}


#btn-cadastrar {
    display: flex;
    width: 125px;
    height: 45px;   
    border-radius: 10px;
    justify-content: center;
    margin-top: 0px;
    padding-top: 10px;
    background-color: #e4321e;
    border: 1px solid black;
}

.texto-cadastro {
    margin-left: auto;
    margin-right: auto;
}

 
}
}
