#header {
    background-color: #0b142f;
    color: #FFF;
    width: 100%;
    height: 163px;
}

#logo {
    width: 350px;
    padding-top: 5px;
    display: fixed;
}

.menu {
    padding-top: 85px;
}

.menu a {
    padding: 15px;
}

.active {
    background-color: orangered;
    background-size: 1%;
    border-radius: 5px;
}

.menu-desktop {
    padding-top: 70px;
    margin-bottom: 10px;
}

.menu-desktop a {
    padding: 15px;
}

.menu-desktop a:hover {
    background-color: orangered;
    border-radius: 5px;
}

#icone-mobile {
    width: 40px;
}

.menu-mobile {
    display: none;
}

@media (max-width: 970px) {

    #logo {
        display: none;
    }

    .menu-desktop {
        display: none;
    }

    .menu-mobile {
        display: flex;
        flex-direction: column;
        background-color: #0b142f;
        align-items: center;
        width: 300px;
    }
    
    .menu-mobile-links {
        opacity: 0;
        display: flex;
        flex-direction: column;
        background-color: #0b142f; 
        z-index: 1;
    }

    .menu-mobile-links a {
        height: 50px;
        text-align: center;
        margin-top: 5px;
        padding-top: 10px;
        margin: 0 auto;
        width: 250px;

    }
    
    .active {
        border-radius: 0;
    }
    .menu-mobile:hover .menu-mobile-links {
        opacity: 1;
        transition: 0.1s;
    }

    .menu-mobile-links a:hover {
        background-color: orangered;
        transition: 0.1s;
    }
}