#header {
    background-color: #0b142f;
    color: #FFF;
    width: 100%;
    height: 130px;
    display: flex;
    align-items: flex-end;
}

#logo {
    width: 40%;
    
}

.menu {
    padding-top: 85px;
}

.menu a {
    padding: 15px;
}

.active {
    background-color: orangered;
    background-size: 0.5%;
    border-radius: 5px;
}

.menu-desktop {
    padding-bottom: 15px;
}

.menu-desktop a {
    padding: 15px;
}

.menu-desktop a:hover {
    background-color: orangered;
    border-radius: 5px;
}

.icone-mobile {
    width: 40px;
}

.menu-mobile {
    display: none;
}

#logo-mobile {
    display: none;
}

@media (max-width: 970px) {

    #logo {
        display: none;
    }

    .menu-desktop {
        display: none;
    }

    #header {
        align-items: center;
        justify-content: center;
    }

    .menu-mobile {
        display: flex;
        flex-direction: column;
        background-color: #0b142f;
        align-items: center;
        width: auto;
        height: 40px;
    }
    
    .menu-mobile-links {
        display: none;
        flex-direction: column;
        background-color: #0b142f; 
        z-index: 1;
        margin: 0;
        justify-content: center;

    }

    .menu-mobile-links a {
        height: 50px;
        text-align: center;
        margin-top: 5px;
        padding-top: 10px;
        width: auto;
        margin: 0;
    }
    
    .active {
        border-radius: 0;
    }

    .menu-mobile:hover .menu-mobile-links img {
        display: block;
    }

    .menu-mobile-links a:hover {
        background-color: orangered;
        transition: 0.1s;
    }
}