@font-face {
    font-family: "Montserrat";
    src: url(../assets/font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

body {
    margin: 0;
    padding: 0;
}

.banner2 {
    background: url(../assets/images/Imagem-login.jpeg);
    width: 100vw;
    height: 100vh;
}

.menu-login {
    border-radius: 15px; 
    background-color: #fff;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 450px;
  
}

.corpo { 
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;

}

.controlador-login {
    padding: 15px;
    margin-bottom: 15px;
}

.controlador-login input {
    padding: 25px;
    margin-top: 10px;
}

.menu-list {
    position: relative; 
}


.input-senha {
    display:flex;
    
}
 #btn-logar {
    display: flex;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    justify-content: center;
    margin-left: 150px;
    padding-top: 10px;
    background-color: #e54320;
    border: 1px solid black;
}

#btn-cadastrar {
   display: flex;
   width: 150px;
   height: 50px;
   border-radius: 10px;
   justify-content: center;
   margin-left: 150px;
   margin-top: 20px;
   padding-top: 10px;
   background-color: #e54320;
   border: 1px solid black;

}
.texto-cadastro {
    margin-left: 150px;
}

.campos {
    border: 1px solid #e54320;
    width: 100%;
    align-items:center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
  .banner {
    background-size: 150%;
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: 35%;
  }
    
  }