
.banner {
 background: url(../assets/images/Imagem-login.jpeg);
 width: 100vw;
 height: 100vh;
 background-size: cover;
 display: flex;
}

.controlador-login {
    height: 175px;
    padding: 15px;
    margin-bottom: 15px;
}

.controlador-login input {
    padding: 25px;
    margin-top: 10px;
}

.menu-list {
    position: relative; 
}


.input-senha {
    display:flex;
    
}
 #btn-logar {
    display: flex;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    justify-content: center;
    margin-left: 130px;
    padding-top: 10px;
    background-color: #e54320;
    border: 1px solid black;
}
.botao {
padding-bottom: 25px;

}
#btn-cadastrar {
   display: flex;
   width: 150px;
   height: 50px;
   border-radius: 10px;
   justify-content: center;
   margin-left: 130px;
   margin-top: 20px;
   padding-top: 10px;
   background-color: #e54320;
   border: 1px solid black;

}

.input-login {
    margin: 0px;
}
.texto-cadastro {
    margin-left: 150px;
}

.campos {
    width: 100%;
    align-items:center;
    justify-content: center;
}

.campos span, checkbox {
    padding-right: 75px;
}

.corpo {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0, 0,0,.5);
}

.texto-cadastro{
    padding-right: 15px;
}
@media only screen and (max-width: 768px) {
  .banner {
    background-size: 150%;
    background-repeat: no-repeat;
    background-size: cover;   
    background-position: 35%;
  }
    
  }