@font-face {
    font-family: "Montserrat";
    src: url(../assets/font/Montserrat/Montserrat-VariableFont_wght.ttf);
}


.banner {
    background: url(../assets/images/Imagem-login.jpeg);
    width: 100vw;
    height: 100dvh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controlador-login {
    height: 175px;
    padding: 15px;
}

.menu-login {
    width: 425 px;
    height: 300px;
    background-color: aliceblue;
    border-radius: 20px;
}

.controlador-login input {
    width: 320px;
    height: 35px;
    padding: 25px;
    margin-top: 10px;
}

.menu-list {
    position: relative;
}

#btn-recuperar {
    display: flex;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    justify-content: center;
    margin: 0 auto 0 auto;
    padding-top: 10px;
    background-color: #e4321e;

}

.input-login {
    margin: 0px;
}

.texto-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.campos {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.campos span, checkbox {
    padding-right: 75px;
}

.corpo {
    margin-top: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .banner {
        background-size: 150%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 35%;
    }

    .menu-login {
        width: 380px;
        height: 320px;
        background-color: rgb(255, 255, 255);

    }

    .controlador-login {
        width: 250px;
        height: 190px;
        margin-bottom: 15px;
    }

    .controlador-login label {
        font-size: medium;
    }

    .controlador-login input {
        font-size: small;
        width: 350px;
        height: 10;

    }

    .campos {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .campos span {
        font-size: medium;
        margin-top: 0px;
    }
    
    #btn-recuperar {
        display: flex;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        justify-content: center;
        margin-bottom: 10px;
        padding-top: 10px;
        background-color: #e4321e;
    }

    .texto-cadastro {
        margin-left: auto;
        margin-right: auto;
    }

}