.banner {
    height: 100vh;
    width: 100%;
    border-top: 1px solid;
}

.menu-list {
    position: relative;
}

.background-image {
    background: url(../assets/images/Sobre-3.jpg);
    background-size: cover;
    width: 95%;
    background-repeat: no-repeat;
    background-position-y: 70%;
    background-position-x: 50%;
    border: 1px solid;
}

.texto {
    text-align: center;
}

#quote-center {
    text-align: center;
}

#background-bottom {
    border: 1px solid;
    background: url(../assets/images/Sobre-1.jpg);
    width: 95%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 70%;
    background-position-y: 50%;
}

@media (max-width:700px) {
    .background-image {
        display: none;
    }

    #background-bottom {
        background: url(../assets/images/Sobre-2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 70%;
    }
}