@font-face {
    font-family: "Montserrat";
    src: url(../assets/font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

.banner {
    height: 100vh;
    width: 100%;
    background: url(../assets/images/pexels-photoscom-93398.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow: auto;
    border-top: 1px solid;
    height: 100vh;
    width: 100vw;
}

.container-suporte {
    display: flex;
    height: (100vh - 163px);
    margin-top: 140px;
    width: 100vw;
    justify-content:center;
    align-items:center;
}

.box {
    width: 422px;
    height: 531px;
    background-color: #FFF;
    border-radius: 10px;
    flex-direction: column;
    padding: 20px 50px 20px 50px;   
}

#box-continuar-suporte {
    height: 405px;
}

#box-finalizar-suporte {
    display: none;
    padding-top: 28px;
}

#title-box {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
}

.info-boxes-suporte input {
    width: 322px;
    height: 59px;
    border-radius: 5px;
    border: 1px solid #bbb;
    background-color: #F5F5F5;
    padding: 0 10px;
    margin: 15px;
    margin-left: 0;
}

#descricao-suporte input {
    height: 220px;
}

button {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-continuar {
    background-color: #E53420;
    color: #FFF;
    font-weight:bold;
    border:none;
    border-radius:5px;
    font-size:20px;
    margin-top: 27px;
}

.button-continuar {
    width: 322px;
    height: 50px;
    font-size: large;
}

button:hover {
    background-color: #8f2014;
    border-radius: 5px;
}

.button-container {
    display: flex;
}

#button-voltar {
    width: 15%;
    background-color: #E53420;
    color: #FFF;
    font-weight:bold;
    border:none;
    border-radius:5px;
    font-size:20px;
    margin-top: 30px;
    margin-right: 5px;
}

#button-enviar {
    width: 85%;
    background-color: #E53420;
    color: #FFF;
    font-weight:bold;
    border:none;
    border-radius:5px;
    font-size:20px;
    margin-top: 30px;
    margin-left: 5px;
}