.banner {
    height: 100vh;
    width: 100%;
    background: url(../assets/images/bg-suporte-md);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow: auto;
    border-top: 1px solid;

}

#btn-cadastrar {
    background-color: orangered;
    width: 200px;

}

.imagem-suporte {
    display: flex;
    justify-content: flex-end;
    width: -100%;
    height: 805px;
    flex-shrink: 0;
}

#btn-cadastrar {
    background-color: #E53420;
    color: #FFF;
    width: 322px;
    height: 50px;
    margin: 15px 0 15px 0;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.Formulario {
    width: 422px;
    height: 600px;
    background-color: #0b142f;
    border-radius: 10px;
    flex-direction: column;

    padding: 40px 50px 20px 50px;
}

.checkbox_class {
    margin: 5px 5px 5px 0;
}

.info-boxes-login input {
    width: 322px;
    height: 59px;
    border-radius: 5px;
    border: 1px solid #bbb;
    background-color: #F5F5F5;
    padding: 10px;
    margin: 15px;
    margin-left: 0;
}

.Formulario label {
    font-family: "Montserrat";
    font-size: 18px;
    border-style: solid;
    color: #f1eaea;
}

body {

    margin: 0;
    padding: 0;
}

.Formulario {
    position: fixed;
    left: 98px;
    top: 100px;
    width: 360px;
    height: 60%;
    background-color: #0b142f;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.Formulario ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.Formulario li {
    margin-bottom: 10px;
}

.Formulario a {
    text-decoration: none;
    color: #fff;
}

@media (min-width: 768px) {
    .banner{
        background: url(../assets/images/bg-suporte-md.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        overflow: auto;
        border-top: 1px solid;
    } 
}