body {
    margin: 0;
    padding: 0;
    
}
#btn-cadastrar {
    background-color: #E53420;
    color: #FFF;
    width: 322px;
    height: 50px;
    margin: 15px 0 15px 0;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.Formulario label {
    font-family: "Montserrat";
    font-size: 18px;
    border-style: solid;
    color: #f1eaea;
}

.FormularioSuporte {
    display: grid;
    grid-template-columns: 3fr; 
    grid-template-rows: auto; 
    position: fixed;
    left: 98px;
    top: 100px;
    width: 360px;
    height: 520px;
    background-color: #0b142f;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px; 
    margin-top: 7rem;
    
    
}

.FormularioSuporte input {
    width: 100%; 
    height: 40px;
    margin-bottom: 10px; 
    color: #000;
    border-radius: 5px;
    
}

.Formulario ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.Formulario li {
    margin-bottom: 10px;
}

.Formulario a {
    text-decoration: none;
    color: #fff;
}

#descricao {
    border-radius: 5px;
    height: 160px;
    width: 100%;

}


.fundo {
    background: url(../assets/images/bg-suporte-md2.jpg);
    display: flex;
    width: 100vw;
    height: 80vh;
    background-size:cover;
    background-repeat: no-repeat;
    align-items: bottom;
}

@media (max-width: 700px) {
    .fundo {
        background-size: 120%;
        background-position-y: bottom;

    }
}