#header {
    background-color: #0b142f;
    color: #fff;
    width: 100%;
    height: 163px;

}

#logo {
width: 350px;
padding-top: 5px;

}

.menu {    
padding-top: 85px;
}

.menu a {
    padding: 5px;


}


.banner {
 background: url(./assets/images/Imagem-login.jpeg);
 width: 100vw;
 height: 100vh;
 background-size: cover;
 display: flex;
}


.menu-login {
    border-radius: 15px;
    max-width: 25%;
    background-color: red;
  
}
.corpo{ display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0, 0,0,.5);
    

}


