.banner {
    height: 100vh;
    width: 100%;
    overflow: auto;
    border-top: 1px solid;
}

.menu-list {
    position: relative;
}

#background-sofa {
    background: url(./assets/images/Sobre-2.jpg);
    background-size: 180%;
    background-position-x: 80%;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
}

#background-bottom {
    background: url(./assets/images/Sobre-1.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 70%;
}